#wrap-archive

    .archive-yearLabel
        font-size: 14px
        font-weight: bold
        color: #aaa

    .archive-post
        display: inline-block
        width: 200px
        min-height: 100px
        padding: 10px
        margin-right: 20px
        margin-bottom: 20px
        vertical-align: top
        border: 1px solid #aaa
        border-radius: 4px
        box-shadow: 0 0 1px 1px
        
        a
            display: block
            text-decoration: none
            transition: all 0.2s linear

            &.post-date
                margin-bottom: 5px
                font-size: 14px
                color: #999
            
            &.post-title
                color: #333

                &:hover
                    color: #3699ff