body
    min-width: 1024px
    min-height: 100vh

#wrap-container
    position relative
    min-height: 100vh
    background-image: radial-gradient(
        ellipse farthest-corner at top,
        #fff,
        #ccc
    )

    .normal-container
        width: 1024px
        margin: 0 auto

@import "header"
@import "index"