#wrap-post
    margin-top: 10px
    padding: 5px 0
    background-color: #fff
    border-radius: 4px

    h1, h3
        margin-right: 20px
        margin-left: 20px

    h3
        margin-bottom: 5px
    p
        padding: 0 20px
        line-height: 1.5rem
        color: #555

    table
        width: 100%
        padding: 0 20px
        line-height: 1.5rem
        th
            border-bottom: 3px solid #ddd
        tbody
            font-weight: lighter
        td
            padding: 10px 0
            border-bottom: 1px solid #ddd
    
    .post-title
        margin: 0 20px
        padding-bottom: 10px
        border-bottom: 1px solid #3699ff
        h1
            margin: 0 0 5px 0
        span
            color: #666
    
    .hljs
        padding-right: 20px
        padding-left: 20px
        line-height: 1.2rem