<!--
 * @Description: 首页模板
 * @Author: LXG
 * @Date: 2020-05-09
 * @LastEditTime: 2020-05-09
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>hexo-gun index</h1>
</body>

</html>