<!--
 * @Description: gun - 首页
 * @Author: LXG
 * @Date: 2020-05-21
 * @LastEditTime: 2020-05-21
-->
<% if (is_home()) { %>
<section class="wrap-index">
    <div class="normal-container index-posts">
        <% site.posts.forEach(post => { %>
        <div class="posts-item">
            <p>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            </p>
            <p>
                <span><%- date(post.date) %> </span>
            </p>
        </div>
        <% }) %>
    </div>
</section>
<% } %>