<!--
 * @Description: gun - 文章详情页
 * @Author: LXG
 * @Date: 2020-05-23
 * @LastEditTime: 2020-06-09
-->
<section id="wrap-post" class="normal-container">
    <div class="post-title">
        <h1>
            <%- page.title %>
        </h1>
        <span>创建时间：<%- date(page.date) %></span>
        <span>更新时间：<%- date(page.updated) %></span>
    </div>
    <%- page.content %>
</section>